DATABASE_URL="mysql://user:password@host:port/database_name"
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
PORT = 3000

#google oauth related
GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET = 
GOOGLE_CALLBACK_URL=/auth/google/callback

#jwt secret
JWT_SECRET =



#site url
CLIENT_URL_DEV= 
SERVER_URL_DEV= http://localhost:3000/api


CLIENT_URL_PROD=
SERVER_URL_PROD=