DATABASE_URL="mysql://root:4WBSGplJXdYVMe7f@db:3306/wegoapp"
DB_HOST=db
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=4WBSGplJXdYVMe7f
MYSQL_ROOT_PASSWORD=4WBSGplJXdYVMe7f
DB_DATABASE=wegoapp
DB_SSL=false

#express
PORT=3000

#google oauth related
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=/auth/google/callback

#aws ses access key
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

#jwt secret
REFRESH_TOKEN_SECRET=refresh
ACCESS_TOKEN_SECRET=access
JWT_SECRET=hello
JWT_ISSUER=WeGoToCalStateLA

#Redis
REDIS_URL=redis://redis:6379
REDIS_CONNECT_TIMEOUT_MS=5000
REDIS_COMMAND_TIMEOUT_MS=2000
REDIS_MAX_RETRIES_PER_REQUEST=3

VOPRF_PRIVATE_KEY=
VOPRF_PUBLIC_KEY=
VOPRF_PEPPER=

#site url
CLIENT_URL=http://localhost:63342
SERVER_URL=http://localhost:3000/api




NODE_ENV=development
