## OAuth2 Proxy Config File
## https://github.com/oauth2-proxy/oauth2-proxy

## For configuration definition, please check https://oauth2-proxy.github.io/oauth2-proxy/configuration/overview
## https://oauth2-proxy.github.io/oauth2-proxy/configuration/providers/keycloak_oidc/
http_address = "0.0.0.0:4180"
reverse_proxy = true
trusted_proxy_ips = ["127.0.0.1", "192.168.65.0/24"]

provider = "keycloak-oidc"
client_id = "wego-customer"
client_secret = "REDACTED_LEGACY_CLIENT_SECRET"

redirect_url = "http://api.localhost/oauth2/callback"
backend_logout_url = "http://auth.localhost/realms/wegoapp/protocol/openid-connect/logout?id_token_hint={id_token}&post_logout_redirect_uri=http%3A%2F%2Fapp.localhost"
oidc_issuer_url = "http://auth.localhost/realms/wegoapp"
whitelist_domains = [
    "app.localhost",
    "api.localhost",
    "auth.localhost"
]
code_challenge_method = "S256"
set_xauthrequest = true
pass_access_token = true
oidc_email_claim="sub"
email_domains=["*"]

#cookie
cookie_secret = "REDACTED_LEGACY_COOKIE_SECRET"
cookie_secure = false
cookie_expire = "30m"
cookie_refresh = "5m"

#optional
skip_provider_button = true


#storage
session_store_type = "redis"
redis_connection_url = "redis://redis:6379/0"


